.social-media
    display: inline-block
    float: right
    color: #ffffff

    i
        margin-left: 10px
        border-bottom: 1px solid #ffffff
        padding-bottom: 3px
        font-size: 0px
        transition: font-size 0.2s

    p
        display: inline-block
        text-transform: uppercase
        font-size: 0px
        border-bottom: 1px solid #ffffff
        padding-bottom: 1px
        margin-left: 3px
        color: #7d7d7d
        transition: font-size 0.2s

    p span
        color: #ffffff
        
    &.intro
        i
            font-size: 12px
            
        p
            font-size: 10px